<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src='node_modules/angular/angular.js'></script>
  <script src='app.js'></script>

  <title>Our To Do</title>
</head>
<body class="app" ng-app='OurToDo'>
  <h1>OUR DO</h1>
  <div ng-controller='todoController'>
    <form ng-submit='add()'>
      <input ng-model='item'>  </input>
      <input type='submit'></input>
    </form>
    <ul >
      <li ng-repeat='todo in list'>
        {{todo}}
      </li>
    </ul>
  </div>
</body>
</html>
